.page {
	background-color: var(--background);
	display: flex;
	height: 100dvh;
	width: 100dvw;
}

.vertical_spacer {
	height: 100%;
}

.side_bar {
	margin: 25px;
	background-color: var(--foreground);
	height: calc(100dvh-50px);
	width: min-content;
	display: grid;
	grid-template-rows: max-content 1fr max-content;
	grid-template-columns: 1fr;
	flex-direction: column;
	padding: 25px;
	gap: 50px;
	border-radius: 25px;
}

.side_bar_title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.side_bar_title_text {
	font-size: 64px;
	color: var(--background);
	/* font-family: "Concert One", sans-serif; */
}

.side_bar_title_icon {
	height: 85px;
	width: 85px;
}

.side_bar_redirect_list {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: min-content;
	padding: 25px;
	gap: 25px;
	justify-items: flex-start;
	align-items: flex-start;
}

.side_bar_redirect {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: var(--background);
	width: max-content;
	height: min-content;
	font-size: 32px;
	padding: 0px;
	background-color: transparent;
	border: none;
	transition: 250ms;
}

.side_bar_redirect:hover {
	font-size: 40px;
}

.side_bar_redirect:hover>span {
	font-size: 55px;
}

.side_bar_redirect>span {
	font-size: 50px;
	transition: 250ms;
}

.side_bar_account {
	width: 100%;
	height: max-content;
	display: grid;
	grid-template-columns: max-content 1fr max-content;
	grid-template-rows: 1fr;
	gap: 25px;
}

.side_bar_account_photo {
	height: 100px;
	width: 100px;
	background-color: grey;
	color: darkslategray;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}

.side_bar_account_photo>span {
	font-size: 80px;
}

.side_bar_account_info {
	display: flex;
	flex-direction: column;
	color: var(--background);
	padding-block: 10px;
	font-size: 30px;
}

.side_bar_account_edit {}