.meal_container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    background-color: transparent;
    border: none;
    gap: 20px;
}

.meal_date_container {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    height: 100%;
    min-height: 100px;
    width: 100%;
    border-radius: 25px;
    background-color: var(--tertiary);
}

.meal_builder {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
}

.meal_breakdown {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 200px;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: var(--tertiary);
    border-radius: 25px;
    padding-inline: 20px;
    padding-block: 20px;
}

.meal_breakdown>h4 {
    font-size: 32px;
}

.meal_breakdown_pie_container {
    width: 100%;
    aspect-ratio: 1 / 1;
    -webkit-user-select: none;
    user-select: none;
}

.meal_list_container {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.meal_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr max-content;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--tertiary);
    justify-content: center;
    align-items: center;
    border-right: solid var(--foreground) 5px;
}

.meal_list:last-of-type {
    border-right: none;
}

.meal_list_title {
    text-align: center;
}

.meal_list_add {
    display: grid;
    /* justify-content: center; */
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    width: 100%;
    height: min-content;
    background-color: var(--tertiary);
    border: none;
}

.meal_list_add>span {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    font-size: 30px;
    color: var(--foreground);
    transition: 250ms;
}

.meal_list_add>h4 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-size: 22px;
    color: var(--foreground)
}

.meal_list_add:hover>span {
    font-size: 35px;
}

.item_select {
    background-color: #00000033;
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_select_card {
    background-color: var(--foreground);
    width: max-content;
    height: max-content;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.item_select_type_select {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: max-content max-content 1fr min-content;
    gap: 10px;
}

.item_select_type_select>button {
    padding: 10px;
    background-color: var(--tertiary);
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 125ms;
    font-size: 24px;
}

.item_select_type_select>button:hover {
    transform: scale(1.05);
}

.item_select_type_select_close {
    grid-column: 4 / 5;
    background-color: transparent;
    border: none;
    color: var(--text);
}

.item_select_type_select_close>span {
    font-size: 28px;
}

.item_select_chooser {
    background-color: var(--tertiary);
    min-height: 100px;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
}

.item_select_chooser_search {
    padding: 5px;
    border-radius: 10px;
    background-color: var(--foreground);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_select_chooser_search>input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}