.settings_container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.profile_info_edit_account {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    background-color: var(--tertiary);
    border-radius: 25px;
    padding: 10px;
    align-items: left;
    font-size: 40px;
    flex-direction: column;
    gap: 10px;
}

.change_button {
    width: 150px;
    height: 40px;
    display: flex;
    background-color: var(--foreground);
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 25px;
}

.left {
    display: flex;
    align-items: center;
}

.social_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_icon {
    height: 125px;
    width: 125px;
    background-color: grey;
    color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75px;
}

.profile_icon>span {
    font-size: 75px;
}

.email {
    display: flex;
    padding: 10px;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
}
.password {
    display: flex;
    padding: 10px;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
}

.theme {
    display: flex;
    padding: 10px;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
}