.settings_container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.profile_info_edit_account {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: flex;
    background-color: var(--tertiary);
    border-radius: 25px;
    padding: 10px;
    align-items: left;
    font-size: 40px;
    flex-direction: column;
    gap: 10px;
}

.change_button {
    width: 150px;
    height: 40px;
    display: flex;
    background-color: var(--foreground);
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 25px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social_profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile_icon {
    height: 125px;
    width: 125px;
    background-color: grey;
    color: darkslategray;
    border-radius: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile_icon>span {
    font-size: 75px;
}

.change_icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 30px;
    width: 30px;
    background-color: darkslategrey;
    color: gray;
    border-radius: 15px;
}

.change_icon>span {
    font-size: 20px;
}

.email {
    display: flex;
    padding: 10px;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
}

.password {
    display: flex;
    padding: 10px;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
}

.theme {
    display: flex;
    padding: 10px;
    font-size: 35px;
    align-items: center;
    justify-content: space-between;
}

.logout_containter {
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    justify-self: flex-end;
}

button.logout {
    justify-self: center;
    border-radius: 50px;
    background-color: var(--foreground);
    border: none;
    padding: 10px;
    padding-inline: 20px;
    font-size: 35px;
    margin-top: 75px;
    display: grid;
    /* justify-content: center; */
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    width: min-content;
    height: min-content;
    transition: 125ms;
}

button.logout:hover {
    transform: scale(1.05);
}